<a href="https://colab.research.google.com/github/vsurdacki/BTE320-Assignments/blob/main/ICA_4_11_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Define a class named student. student has two attributes: name (str) and number (str)
Create two student object out of this class
the objects will be:
name: James Bond, number: 007
name: clark kent, number 333
print their names

In [1]:
class Student:
    def __init__(self, name, number):
        self.name = name
        self.number = number

student1 = Student("James Bond", "007")
student2 = Student("Clark Kent", "333")

print(student1.name)
print(student2.name)

James Bond
Clark Kent

include a new atrribute, courses, and it will keep the list of courses that the student takes.
its type is list and it will initalize as an empty list. there will be a method names "enroll" to enroll the course. the student will enroll the course, if it has not enrolled already. moreover, there will be a method names "get_courseS" which will return the course list.
redefine the student class based on these info:
student data:
- name: john doe, number 1111
- courses: BTE320 and BTE401

In [8]:
class Student:
  def __init__(self, name, number):
    self.name = name
    self.number = number
    self.courses = []

  def enroll(self, course):
    if course not in self.courses:
        print(f"You are already enrolled in {course}!")
    else:
        self.courses.append(course)

  def get_courses(self):
    return self.courses

student1 = Student("James Bond", "007")
student2 = Student("Clark Kent", "333")
student3 = Student("John Doe", "1111")

In [9]:
student1.enroll("BTE320")

You are already enrolled in BTE320!