<a href="https://colab.research.google.com/github/vsurdacki/BTE320-Assignments/blob/main/InClass_Assignment_2_21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
months = {}
names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]
months = dict(zip(numbers, names))
print(months)

{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}

In [8]:
months = {}
names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

for idx in range(len(numbers)):
  months[numbers[idx]]= names[idx]
months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

In [13]:
months = {}
names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

for num in numbers:
  months[num] = names[num-1]
months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

Begin by creating an empty dictonary. Then, use a while loop to read stringers from the user until 5 uniquie strings have been entered. Finally all strings are displayed with their counts

In [37]:
# Create an empty dictionary
counts = {}

# Read strings until we have 5 unique ones
while len(counts) < 5:
    string = input("Enter a string: ")
    if string in counts:
        counts[string] += 1
    else:
        counts[string] = 1

# Display all strings with their counts
counts

Enter a string: 1
Enter a string: 1
Enter a string: 2
Enter a string: 3
Enter a string: 4
Enter a string: 5

{'1': 2, '2': 1, '3': 1, '4': 1, '5': 1}