<a href="https://colab.research.google.com/github/vsurdacki/BTE320-Assignments/blob/main/InClassAssignment_2_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

A parking garade charges $5 plus $2.5 for each hour. The minimum fee is $10, the max is $20. Write a prgogram that generates a table with hours parked and the corresponding fee, from 1 to 8 hours

In [9]:
for hours in range(1,9):
  fee = 5 + 2.5 * hours
  if fee <= 10:
    fee = 10.0
  elif fee >= 20:
    fee = 20.0
  print(hours, fee)

1 10.0
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20.0
8 20.0

A movie theather is deciding how much to spend on advertising. each movie ticket is $10. without ads, 20 people would attend. addition people may attend based on ad. spending which is estimated ot be: additional attendees = 2 * round(advertisingDollars^2). in addition to ad costs, there are fixed costs of $200. write a program to generate a table for different ad amounts and profits.

In [33]:
for cost in range(0,201,25):
  attendees = 20
  additionalattendees = 2.0 * round(cost**.5)
  profit = (attendees + additionalattendees) * 10.0 - 200.0

  print(cost, profit-cost)

0 0.0
25 75.0
50 90.0
75 105.0
100 100.0
125 95.0
150 90.0
175 85.0
200 80.0

In [37]:
print("Ad$\t", "Profit")
for adcost in range(0,201,25):
  additional = 2 * round(adcost**0.5)
  profit = (20 + additional) * 10 - 200 - adcost
  print(adcost, "\t", profit)

Ad$	 Profit
0 	 0
25 	 75
50 	 90
75 	 105
100 	 100
125 	 95
150 	 90
175 	 85
200 	 80